<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">火影网</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">

                    <li class=" info-box hidden">
                        欢迎 &nbsp;&nbsp; <span class="label label-info nickname"></span> &nbsp;&nbsp;回来
                        <button onclick="exit()" class="btn btn-primary">注销</button>
                    </li>
                    <li class="btn-box">
                        <a href="/login">登陆</a>
                    </li>
                    <li class="btn-box">
                        <a href="/register">注册</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</div>
<script>
    window.onload = function() {
        init()

        function init() {
            check_user()
        }

        function check_user() {
            let user_info = $.cookie('user_info')
            if (user_info) {
                //说明已经登陆了，有登陆信息
                $(".info-box").removeClass("hidden").find('.nickname').html(JSON.parse(user_info).nickname)
                $(".btn-box").addClass("hidden")
            } else {
                $(".info-box").addClass("hidden")
                $(".btn-box").removeClass("hidden")
            }
        }



    }

    function exit() {
        $.ajax({
            url: '/users/exit',
            type: 'post',
            data: {
                uid: JSON.parse($.cookie("user_info")).uid
            },
            success(results) {
                console.log(results)
                $.cookie('user_info', null, {
                    expires: -1
                })
                $(".info-box").addClass("hidden")
                $(".btn-box").removeClass("hidden")
            }
        })


    }
</script>