<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/manager/main.css">
</head>

<body>
    <header class="container-fluid bg-primary header">
        <h2>火影后台管理系统</h2>
    </header>

    <section class="container-fluid content-box">

        <%- include('./templates/nav.ejs') %>

            <div class="content" ui-view>

            </div>

    </section>
</body>

<script src="/lib/jquery.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/lib/angular-ui-router.min.js"></script>
<script>
    if (!localStorage.isLogin) {
        window.location.href = '/manager'
    }
</script>
<script src="/javascripts/manager/ngmodules/http_service.js"></script>
<script src="/javascripts/manager/app.js"></script>
<script src="/javascripts/manager/controllers/navController.js"></script>
<script src="/javascripts/manager/controllers/bannerController.js"></script>
<script src="/javascripts/manager/controllers/goodsController.js"></script>

</html>